@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0; /* Remove a margem padrão do body */ 
    box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho total do elemento */
}

:root {
    --primary-color: #8ab4f8; /* Cor primária (azul claro) */
    --secondary-color: #050a02; /* Cor secundária (cinza claro) */
    --tertiary-color: #333131; /* Cor terciária (cinza médio) */
    --quarta-color: white;
    --bg-color: #fcf3f3; /* Cor de fundo (cinza escuro) */
    --bg-color2: rgba(252, 243, 243, 0.5); /* Cor de fundo (cinza escuro) */
    --five-color: rgb(61, 8, 255);
}

html {
    background: linear-gradient(180deg, #9ce0ec 50%, #45bdab 85%, #68c755  100%);
}


body {
    height: 100vh;
    width: 100vw;
    color: var(--secondary-color); /* Define a cor do texto padrão usando uma variável */
    font-family: "Roboto", sans-serif; /* Define a família da fonte */
    background-image: url("./src/img/logo.png");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: right 95%;
    
}

header {
    padding: 1.5rem 1rem; /* Espaçamento interno (2rem em cima/baixo, 1rem nos lados) */
    display: flex; /* Habilita o layout flexbox */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-around; /* Distribui os itens com espaço ao redor */
    position: sticky; /* Mantém o cabeçalho fixo no topo ao rolar a página */
    top: 0; /* Posição do topo quando sticky */
    /* background: var(--bg-color); Cor de fundo do cabeçalho */
    z-index: 10; /* Define a ordem de empilhamento para ficar sobre outros elementos */
    border-bottom: 1px solid var(--bg-color); /* Adiciona uma borda inferior */
    gap: 1rem; /* Espaçamento entre os elementos flex */
}



header h1 {
    font-size: 1.5rem; /* Tamanho da fonte */
    margin: 0; /* Remove a margem padrão */
    font-weight: 500; /* Peso da fonte (médio) */
    white-space: nowrap; /* Impede a quebra de linha do texto */
}

header p {
    font-size: 0.9rem;
    color: var(--five-color);
}


div input {
    padding: 0.375rem 0.75rem; /* Espaçamento interno */
    border-radius: 1rem; /* Arredonda as bordas */
    border: 1px solid var(--tertiary-color); /* Define a borda */
    background: var(--bg-color); /* Cor de fundo */
    font-family: inherit; /* Herda a família da fonte do elemento pai */
    font-size: 1.5rem; /* Tamanho da fonte */
    transition: all 0.2s ease; /* Adiciona uma transição suave para todas as propriedades */
    width: 30rem; /* Largura do input */
    color: var(--secondary-color); /* Cor do texto digitado */
    margin-right: .5rem; /* Margem à direita */
}

div input::placeholder {
    font-size: 1.2rem; /* Tamanho da fonte do placeholder */
    font-weight: 300; /* Peso da fonte do placeholder */
    color: var(--tertiary-color); /* Cor do texto do placeholder */
}

div input:focus {
    outline: none; /* Remove a borda de foco padrão */
    border-color: var(--bg-color); /* Muda a cor da borda ao focar */
    box-shadow: 0 0 0 0.1rem var(--tertiary-color); /* Adiciona uma sombra de caixa para indicar foco */
}

#botao-busca {
    padding: 1rem 2rem; /* Espaçamento interno */
    border-radius: 1rem; /* Arredonda as bordas */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Muda o cursor para uma mão ao passar por cima */
    font-family: inherit; /* Herda a família da fonte */
    font-weight: 500; /* Peso da fonte */
    font-size: 1rem; /* Tamanho da fonte */
    white-space: nowrap; /* Impede a quebra de linha do texto */
    transition: background-color 0.2s ease, color 0.2s ease; /* Transição suave para cor de fundo e cor do texto */
    background-color: var(--primary-color); /* Cor de fundo */
    color: var(--secondary-color); /* Cor do texto */
    border: 1px solid var(--bg-color); /* Adiciona uma borda */
}

#botao-busca:hover {
    background-color: var(--primary-color); /* Muda a cor de fundo ao passar o mouse */
    color: var(--bg-color); /* Muda a cor do texto ao passar o mouse */
    box-shadow: 0 0 0 0.1rem var(--primary-color); /* Adiciona uma sombra de caixa */
}

#botao-busca:active {
    transform: scale(0.98); /* Efeito de clique (diminui o tamanho) */
}

.castrado-pais {
    color: var(--secondary-color);
    font-weight: 600;
    cursor: pointer;
}
span:hover {
    color: rgb(89, 255, 89);
    background-color: #050a02;
    border-radius: 13px;
    padding: 0 10px;

}

main {
    overflow-y: scroll; /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura */
    max-width: 80rem; /* Largura máxima do conteúdo principal */
    margin: 0 auto; /* Centraliza o conteúdo principal horizontalmente */
    margin-top: 2rem; /* Margem no topo */
    overflow-x: hidden;
    text-wrap: wrap;
    height: calc(100vh - 10rem - 4rem); /* Calcula a altura para preencher o espaço restante da tela */
}

article {
    background: var(--bg-color2); /* Sem cor de fundo */
    width: 50%;
    border-radius: 0; /* Sem bordas arredondadas */
    padding: 0; /* Remove o padding */
    padding: 0 1rem; /* Espaçamento interno nos lados */
    margin-bottom: 1.15rem; /* Margem inferior */
    box-shadow: none; /* Sem sombra */
    transition: background-color 0.3s ease, border-bottom-color 0.3s ease; /* Transição suave */
    border-bottom: 1px solid var(--bg-color); /* Borda inferior */
    padding-bottom: 0.8rem; /* Espaçamento interno inferior */
}

article:hover {
    transform: scale(1.01); /* Aumenta ligeiramente o tamanho ao passar o mouse */
    cursor: pointer; /* Muda o cursor para uma mão */
}

article h2 {
    margin-top: 0; /* Remove a margem superior */
    font-weight: 600; /* Peso da fonte */
    font-size: 1.6rem; /* Tamanho da fonte */
    border-bottom: none; /* Sem borda inferior */
    padding-bottom: 0; /* Sem espaçamento interno inferior */
    margin-bottom: 0.25rem; /* Margem inferior */
    color: var(--primary-color); /* Cor do texto */
}

article p {
    margin: 0.5rem 0; /* Margem superior e inferior */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
    font-size: 1rem; /* Tamanho da fonte */
    margin-bottom: 0.5rem; /* Margem inferior */
    color: var(--secondary-color); /* Cor do texto */
}

article p strong {
    color: var(--tertiary-color); /* Cor do texto em negrito */
    font-weight: 400; /* Peso da fonte */
}



article a {
    color: var(--primary-color); /* Cor do link */
    text-decoration: none; /* Remove o sublinhado padrão */
    font-weight: 200; /* Peso da fonte */
}

article a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

span {
    font-size: 1.2rem;
    color: blue;
}

strong {
    color: RED;
    font-weight: 800;
}

.footer {
    bottom: 0; /* Alinha na parte inferior */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Largura total */
    color: var(--quarta-color); /* Cor do texto */
    padding: 5px 20px; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte */
    font-weight: 600;
    margin: 0;
}

.footer-location {
    color: #9aa0a6; /* Cor do texto */
    margin-bottom: 10px; /* Margem inferior */
}

.footer-links {
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Habilita o layout flexbox */
    justify-content: center; /* Centraliza os itens horizontalmente */
    flex-direction: column;
    gap: 5px; /* Espaçamento entre os links */
    align-items: center;
}

.footer-links a {
    color: var(--five-color); /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    transition: color 0.2s; /* Transição suave para a cor */
}

.footer-links a:hover {
    color: var(--quarta-color); /* Muda a cor do link ao passar o mouse (variável não definida) */
    font-size: 1.1rem;
    transition: 0.4S;
}

#autistas {
    font-style: oblique;
    color: blue ;
}


/* Estilos para o Modal */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed; /* Posição fixa para cobrir a tela */
    z-index: 20; /* Fica acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Adiciona scroll se o conteúdo for grande */
    background-color: rgba(15, 88, 224, 0.5);
}

.modal-content {
    background-color: var(--bg-color);
    margin: 10% auto; /* Centraliza verticalmente e horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* Largura máxima */
    border-radius: 10px;
    position: relative;
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 16px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#cadastro-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#cadastro-form label {
    font-weight: bold;
}

#cadastro-form input[type="text"],
#cadastro-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #424242;
    border-radius: 14px;
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 1.2rem;
}

#cadastro-form button {
    background-color: rgb(109, 226, 109);
    color: var(--secondary-color);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#cadastro-form button:hover {
    background-color: #7aa5e6;
}

@media (max-width: 768px) {
    header { /* Estilos para telas com largura máxima de 768px */
        flex-direction: column; /* Organiza os itens do cabeçalho em coluna */
        padding: 1rem; /* Reduz o espaçamento interno */
    }

    header h1 { /* Estilos para o h1 no cabeçalho em telas menores */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 1rem; /* Adiciona margem inferior */
    }

    div input { /* Estilos para o input em telas menores */
        width: 90vw; /* Largura baseada na largura da viewport */
        font-size: 1.2rem; /* Reduz o tamanho da fonte */
    }

    main { /* Estilos para o main em telas menores */
        padding: 0 1rem; /* Adiciona espaçamento lateral */
    }

    article:hover { /* Estilos para o article em telas menores */
        transform: none; /* Remove o efeito de escala ao passar o mouse */
    }
}

@media (max-width: 480px) {
    header h1 { /* Estilos para o h1 em telas com largura máxima de 480px */
        font-size: 1rem; /* Reduz ainda mais o tamanho da fonte */
        max-width: 70%; /* Define uma largura máxima */
        word-wrap: break-word; /* Permite a quebra de palavras longas */
    }

    div input, /* Estilos para o input e seu placeholder em telas muito pequenas */
    div input::placeholder {
        font-size: 1rem; /* Reduz o tamanho da fonte */
    }

    article h2 { /* Estilos para o h2 do article em telas muito pequenas */
        font-size: 1.3rem; /* Reduz o tamanho da fonte */
    }

    div { /* Estilos para a div do cabeçalho em telas muito pequenas */
        display: flex; /* Habilita flexbox */
        align-items: center; /* Alinha itens ao centro */
        justify-content: center; /* Centraliza itens */
        flex-direction: column; /* Organiza em coluna */
        gap: 0.5rem; /* Espaçamento entre os itens */
    }

    .footer { /* Estilos para o rodapé em telas muito pequenas */
        display: none; /* Oculta o rodapé */
    }

    button { /* Estilos para o botão em telas muito pequenas */
        margin-top: 1rem; /* Adiciona margem no topo */
    }
}

